
__pycache__/
data/cache/
*.pyc
*.pyo
.env
# Python virtual environments
.venv/
backend/.venv/
**/.venv/
venv/

.gradle/
build/
out/
*.class
*.jar
*.log


.idea/
*.iml

# mídia gerada
*.mp3
*.wav
*.webm
*.mp4

# yt-dlp output
/data/
backend/data/